//btn
$btn-color: rgba(152, 115, 255, 1);
$btn-hover: rgba(184, 158, 255, 1);
$btn-active: rgba(128, 82, 255, 1);
$btn-focus: rgba(200, 197, 209, 1);
$btn-delete: rgba(240, 106, 77, 1);

//border
$border-input: rgba(51, 51, 51, 0.2);
$border-table: rgba(200, 197, 209, 1);
$border-modal-add: rgba(200, 197, 209, 1);

//background
$bc-content: rgba(245, 245, 245, 1);
$bc-modal: rgba(255, 255, 255, 1);
$bc-modal-body:rgba(51, 51, 51, .7);
$bc-tooltip: rgba(51, 51, 51, 1);
$bс-modal-secondary: rgba(200, 197, 209, 0.2);
$bс-modal-select: rgba(231, 229, 235, 1);
$bс-modal-select-hover: rgba(231, 229, 235, .5);
$bс-modal-select-list: rgba(244, 243, 246, 1);
$bc-table: rgba(255, 255, 255, 1);
$bc-tooltip: rgba(51, 51, 51, 1);

//text
$tc-primary: rgba(51, 51, 51, 1);
$tc-secondary: rgba(176, 176, 176, 1);
$tc-additional: rgba(152, 115, 255, 1);
$tc-delete: rgba(240, 106, 77, 1);
$tc-btn: rgba(255, 255, 255, 1);
$tc-tooltip: rgba(255, 255, 255, 1);

//z-index
$z-select-list: 10;

//
$xl: 1366px;
$lg: 1200px;
$md: 1000px;
